.background{
    background-image: linear-gradient(90deg, #AACCFF 10%, #FFFFAA);
}

.main-label{
    font-size: 8vh;
    font-weight: bolder;
}

.vertical-center {
    min-height: 90%;
    min-height: 90vh; 
    display: flex;
    align-items: center;
  }
  
.main-font{
    font-family: 'LiberationSerif';
    font-weight: bolder;
}

.awesome-font{
    font-family: 'Comic_relief';
    font-weight: bolder;
}

@font-face {
    font-family: 'Comic_relief';
    font-style: normal;
    font-weight: bolder;
    src: url(ComicRelief.ttf) format('truetype');
}

@font-face {
    font-family: 'LiberationSerif';
    font-style: normal;
    font-weight: bolder;
    src: url(LiberationSerif.ttf) format('truetype');
}

